.THIS .accordion-head{
    background-color:blue;
    padding: 5px;
    color:#fff;
}
.THIS .accordion-body{
    background-color:#eee;
    border:1px solid #ccc;
    border-top-width:0px;
    padding: 10px;
    
}
.THIS .accordion-wraper{
	margin-bottom: 5px;
}
.THIS .icon-class{
    float:right;
}
.THIS .icon-class svg{
	fill: #fff;
}